<head>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="File Transfer Service - Shipping Data around the World">
    <meta name="author" content="Maria Arsuaga Rios">
    <meta name="keywords" content="FTS, CERN, Storage, Transfer, CERN analysis">
    <title>FTS Releases</title>
    <link rel="canonical" href="{{ site.url }}">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/bootstrap.min.css" | prepend: site.url }}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/main.css" | prepend: site.url }}">
    <!-- Slicknav Css -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/slicknav.css" | prepend: site.url }}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/responsive.css" | prepend: site.url }}">
    <!--Fonts-->
    <link rel="stylesheet" media="screen" href="{{ "assets/fonts/font-awesome/font-awesome.min.css" | prepend: site.url }}">
    <link rel="stylesheet" media="screen" href="{{ "assets/fonts/simple-line-icons.css" | prepend: site.url }}">
    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/extras/owl/owl.carousel.css" | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/extras/owl/owl.theme.css" | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/extras/animate.css" | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/extras/normalize.css" | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/extras/settings.css" | prepend: site.url }}">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ "assets/css/colors/green.css" | prepend: site.url }}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
    </script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
    </script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/FTS_icon_180.png" | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/img/favicon/FTS_icon_32.png" | prepend: site.url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/img/favicon/FTS_icon_16.png" | prepend: site.url }}">
    {% feed_meta %}
  </head>
