<!-- Header area wrapper starts -->
     <!-- Header area wrapper starts -->
     <header id="header-wrap">
       <!-- Navbar Starts -->
       <div class="global-fts"></div>
       <nav class="navbar navbar-expand-md">
         <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <a class="navbar-brand" >
               <img src="{{ "assets/img/FTS_logo.png" | prepend: site.url }}">
             </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
           </div>
           <div class="collapse navbar-collapse" id="main-menu">
             <ul class="navbar-nav mr-auto w-100 justify-content-end">
               <li class="nav-item active">
                 <a class="nav-link active" href="{{ site.root }}">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{{ "#features" | prepend: site.root }}" aria-haspopup="true" aria-expanded="false">Features</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{{ "#blog" | prepend: site.root }}" aria-haspopup="true" aria-expanded="false">News</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{{ "#documentation" | prepend: site.root }}" aria-haspopup="true" aria-expanded="false">Documentation</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link " href="{{ "#clients" | prepend: site.root }}" aria-haspopup="true" aria-expanded="false">Users</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="{{ "#contact" | prepend: site.root }}" aria-haspopup="true" aria-expanded="false">Contact Us</a>
               </li>
             </ul>
           </div>

           <!-- Mobile Menu Start -->
           <ul class="wpb-mobile-menu">
             <li>
               <a class="active" href="{{ site.root }}">Home</a>
             </li>
             <li>
               <a href="{{ "#features" | prepend: site.root }}">Features</a>
             </li>
             <li>
               <a href="{{ "#blog" | prepend: site.root }}">News</a>
             </li>
             <li>
               <a href="{{ "#documentation" | prepend: site.root }}">Documentation</a>
             </li>
             <li>
               <a href="{{ "#clients" | prepend: site.root }}">Users</a>
             </li>
             <li>
               <a href="{{ "#contact" | prepend: site.root }}">Contact Us</a>
             </li>
           </ul>
           <!-- Mobile Menu End -->
         </div>
       </nav>
        <!-- Navbar Ends -->    
    </header>
    <!-- Header-wrap Section End -->
    
    <!-- Page Header -->
    <div class="page-header-section">
      <div class="container">
        <div class="row">
          <div class="page-header-area">
            <div class="page-header-content">
              <a href="{{ site.baseurl | prepend: site.url }}"><h2>{% if page.title %}{{ site.title }} {% else %}{{ site.title }}{% endif %}</h2></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
