 </container>
 </section>
 <!-- Footer Section -->
    <footer>
    <!-- Copyright -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <p class="copyright-text">
                ©  2017 CERN. All right reserved.
              </p>
            </div>
            <div class="col-md-6  col-sm-6">
              <ul class="nav nav-inline  justify-content-end ">
                <li class="nav-item">
                  <a class="nav-link active" href="{{ site.root }}">Home</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->

    </footer>
    <!-- Footer Section End-->

<!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-angle-up">
      </i>
    </a>

   <!-- JavaScript & jQuery Plugins -->
    <script src="{{ "assets/js/jquery-min.js" | prepend: site.url }}"></script>
    <!-- Tether Js -->
    <script src="{{ "assets/js/tether.min.js" | prepend: site.url }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ "assets/js/bootstrap.min.js" | prepend: site.url }}"></script>
    <!--Text Rotator-->
    <script src="{{ "assets/js/jquery.mixitup.js" | prepend: site.url }}"></script>
    <!--WOW Scroll Spy-->
    <script src="{{ "assets/js/wow.js" | prepend: site.url }}"></script>
    <!-- OWL Carousel -->
    <script src="{{ "assets/js/owl.carousel.js" | prepend: site.url }}"></script>
    <!-- WayPoint -->
    <script src="{{ "assets/js/waypoints.min.js" | prepend: site.url }}"></script>
    <!-- CounterUp -->
    <script src="{{ "assets/js/jquery.counterup.min.js" | prepend: site.url }}"></script>
    <!-- Slicknav -->
    <script src="{{ "assets/js/jquery.counterup.min.js" | prepend: site.url }}"></script>
    <!-- ScrollTop -->
    <script src="{{ "assets/js/jquery.slicknav.js" | prepend: site.url }}"></script>
    <!-- Appear -->
    <script src="{{ "assets/js/jquery.appear.js" | prepend: site.url }}"></script>
    <!-- Vide js -->
    <script src="{{ "assets/js/jquery.vide.js" | prepend: site.url }}"></script>
     <!-- All JS plugin Triggers -->
    <script src="{{ "assets/js/main.js" | prepend: site.url }}"></script>
