---
layout: default
---
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <br><br>
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul>
  				{% for post in site.posts %}
  				{% for tag in post.tags %}
  				{% if tag == page.tag %}
  				<li class="archive_list">
    			<time style="color:#666;font-size:14px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a class="archive_list_article_link" href='{{post.url | prepend: site.baseurl | prepend: site.url }}'>{{post.title}}</a>
    			<!--<p class="summary">{{post.summary}}</p>-->
    			<ul class="tag_list">
      			{% for tag in post.tags %}
      			<a class="tag_list_link post-tag" href="{{site.baseurl | prepend: site.url }}/tag/{{ tag }}">{{ tag }}</a>
      			{% endfor %}
    			</ul>
	  			</li>
  				{% endif %}
  				{% endfor %}
  				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</article>
